<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FoodMon Go</title>
    </head>
    <body>
        <a href="#main" class="skip-link">Go to content</a>
        <header class="container">
            <nav class="navbar">
                <a href="/" class="brand-link">
                    <div class="logo">
                        <img src="images/logo/logo.png" alt="logo" />
                    </div>
                    FoodMon Go
                </a>
                <button type="button" class="menu-toggle" href="#">☰</button>
                <button type="button" class="close-menu"><span>&times;</span></button>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="https://github.com/edimdendidiwangga">About</a></li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <section class="hero">
                <img src="images/heros/hero-image_4.jpg" alt="jumbotron">
                <div class="overlay"></div>
                <div class="hero_inner">
                    <h1 class="hero_title">FoodMon Go Apps</h1>
                    <p class="hero_tagline">Hallo! This website provides various restaurants from various regions.</p>
                </div>
            </section>

            <section class="main-content">
                <h1 class="title">Explore Restaurant</h1>
                <restaurant-list></restaurant-list>
            </section>
        </main>

        <footer class="footer">
            <h5>Copyright © 2020 - FoodMon Go</h5>
        </footer>
    </body>
</html>
