@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700');

* {
    margin: 0;
    padding: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.menu-toggle {
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #ffff;
    font-size: 1.9rem;
}

.close-menu {
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #ffff;
    font-size: 3rem;
    z-index: 2;
}

.skip-link {
    position: absolute;
    top: -4rem;
    left: 0;
    display: block;
    min-width: 45px;
    padding: 0.6rem !important;    
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    padding: 0.5rem;
    z-index: 99;
}

.skip-link:focus {
    top: 4rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    min-height: calc(100vh - 14.5rem);
}

.w-space {
    width: 75%;
}

header {
    position: sticky;
    left: 0;
    right: 0;
    background-color: #e79e4f;
    height: 4rem;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

header .navbar {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

header .brand-link {
    display: block;
    min-width: 45px;
    min-height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

header .logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

header .logo img {
    height: 100%; 
    width: 100%;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    padding: 1rem 0.8rem;
    min-width: 45px;
    min-height: 45px;
    font-family: 'Poppins', sans-serif;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-around;
}

.navbar a:focus,
.navbar a:hover {
    color: #734047;
}

/* Jumbotron */

.hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 23.75rem;
    width: 100%;
    text-align: center;
}

.hero .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
}

.hero img {
    width: 100%;
    height: 34.3rem;
    object-fit: cover;
    object-position: center;
}

.hero_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_title {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
}

.hero_tagline {
    color: #fff;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Content */
.grid-wrapper { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.card .card-img {
    position: relative;
    overflow: hidden;
}

.card .card-img img {
    width:  100%;
    height: 12.5rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card .card-img img.img-lg {
    height: 50vh;
}

.card .card-img .card-label {
    width: 6.25rem;
    height: 2.5rem;
    background-color: rgb(231, 158, 79, 0.7);
    position: absolute;
    top: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.card .card-content {
    padding: 0.7rem 1.2rem 1.2rem;
}

.card .card-content a.link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    min-width: 45px;
    min-height: 45px;
}

.card .card-content .card-title {
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
}

.card .card-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.card .card-content p.elipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .card-content .rate {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.9rem 0;
}

.card .card-content .rate img {
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 3.2rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 158, 79);;
    color: #fff;
}

.footer h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.mt-3 {
    margin-top: 3rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
}

.tags.center {
    justify-content: center;
}

.tag-item {
    font-size: 0.8rem;
    color: rgb(252, 252, 252);
    cursor: pointer;
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background: #734047;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #e79e4f;
    margin: 1rem 0rem;
    background-image: linear-gradient(to right, #ccc, #e79e4f, #ccc);
}

.text-center {
    text-align: center;
}

.list-container {
    width: 48%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.625rem 0.9375rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-container .review-item {
    width: 46%;
    background-color:#F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.review-item .i-user {
    width: 3.5rem;
    margin-right: 1rem;
}

.review-item .review-content {
    display: flex;
    flex-direction: column;
    margin: 0.625rem 0.625rem 0.625rem 0;
    color: #373c40;
}

.review-content .review-name {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #e79e4f;
}

.review-content .review-text {
    font-size: 1rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-content .review-date {
    font-size: 0.6rem;
    font-style: italic;
}

.favorite-button {
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.favorite-button .heart {
    width: 2rem;
    cursor: pointer;
    animation: pulse 1s ease infinite;
}

.favorite-button.favorited .heart {
    fill: red;
}

.favorite-button.unfavorited .heart {
    fill: white;
}
  
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}